.k-snackbar {
  display: none;
  padding: 8px;
  width: 320px;
  position: fixed;
  bottom: 16px;
  border-radius: 6px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  min-height: 80px;
  color: white;
  z-index: map-get($z-index, 'snackbar' );

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__text {
    width: 100%;
    margin-right: 8px;
    font-weight: 500;
    @include inline-block();
  }

  &--success {
    display: flex;
    background-color: rgb(var(--v-theme-success));
  }

  &--info {
    display: flex;
    background-color: rgb(var(--v-theme-info));
  }

  &--error {
    display: flex;
    background-color: rgb(var(--v-theme-error));
  }

  &--alert {
    display: flex;
    background-color: rgb(var(--v-theme-warning));
  }
}
