* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

ul li {
  list-style-type: none;
}

html {
  overflow-y: auto;
  font-family: IranSans, sans-serif;
  @include text-size(0.875rem, normal, 400);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
