.k-snackbar {
  padding: 8px;
  width: 320px;
  position: fixed;
  bottom: 32px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__text {
    width: 100%;
  }

  &-success {
  }

  &-info {
  }

  &-error {
  }

  &-alert {
  }
}
